* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --skyblue: #03E0F0;
    --darkblue: #121D53;
    --grey: grey;
    --blue: #3734A9;
    --primary-color: #F6FAFF;
    --secondary-color: #DFE3F8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1;
    /* font-size: 1rem !important; */
}